body {
	margin: 0;
}

#content-area {
	position: absolute;
	background-color: white;
	padding: 8px;
	width: 640px;
	min-height: calc(100% - 16px);
}

@media screen and (min-width: 641px) {
	#content-area {
		left: 50%;
		transform: translateX(-50%);
	}
}

table, td, th {
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

p {
	text-indent: 32px;
}
