/* TODO: Seperate out the :root for different themes */
:root {
    --color-background: #222222;
    --color-midground: #333333;
    --color-foreground: #444444;
    --color-text: #cccccc;
    --color-text-dim: #999999;
    --color-text-dimmer: #666666;
}

body {
    background-color: var(--color-background);
    margin: 0px;
    font-family: sans-serif;
    font-weight: bold;
}

.navbar {
    background-color: var(--color-midground);
    padding: 1rem;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-link {
    color: var(--color-text);
    text-decoration: none;
    padding: 0.5rem;
}

#navbar-logo {
    flex-grow: 0.5;
}

.logo {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1.5rem;
}

#content {
    margin: 8px;
    color: var(--color-text);
}

.blog_post {
    background-color: var(--color-midground);
    padding: 1rem;
    margin: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    border-radius: 1rem;
}

.post_date {
    color: var(--color-text-dim);
    font-size: 0.8rem;
}

.cpp_comment {
    display: block;
    color: var(--color-text-dimmer);
    font-family: "Lucida Console", sans-serif, monospace;
    margin-top: 2rem;
}
