span.black {
    color: #000;
}

span.blue {
    color: #009;
}

span.green {
    color: #090;
}

span.aqua {
    color: #099;
}

span.red {
    color: #900;
}

span.purple {
    color: #909;
}

span.yellow {
    color: #990;
}

span.white {
    color: #999;
}

span.lblue {
    color: #00F;
}

span.lgreen {
    color: #0F0;
}

span.laqua {
    color: #0FF;
}

span.lred {
    color: #F00;
}

span.lpurple {
    color: #F0F;
}

span.lyellow {
    color: #FF0;
}

span.lwhite {
    color: #FFF;
}