/*
    Default theme
    TODO: Implement more themes
*/
:root {
    --theme-back: #111;
    --theme-mid: #222;
    --theme-fore: #333;
    --theme-text: #CCC;
    --theme-button-hover: #3F3F3F;
    --theme-button-active: #212121;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--theme-back);
    color: var(--theme-text);
    font-size: 1rem;
    font-family: sans-serif;
}

#taskbar {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 2.5rem;
    background-color: var(--theme-mid);
}

.window {
    position: absolute;
    background-color: var(--theme-mid);
    border-radius: 0.25rem;
}

.window-titlebar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2rem;
    background-color: var(--theme-fore);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.window-titlebar-title {
    margin: 0px;
    margin-top: 0.1rem;
    margin-left: 0.5rem;
    width: fit-content;
    height: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: sans-serif;
    color: var(--theme-text);
}

.window-titlebar-controls {
    position: relative;
    float: right;
    width: fit-content;
    top: -1.5rem;
    padding-right: 0.1rem;
}

.window-content {
    position: relative;
    top: 2rem;
    border: none;
}

button {
    border: solid 0.15rem var(--theme-mid);
    border-radius: 0.25rem;
    background-color: var(--theme-fore);
    color: var(--theme-text);
    font-size: 1.4rem;
}

button:hover {
    background-color: var(--theme-button-hover);
}

button:active {
    background-color: var(--theme-button-active);
}

button[aria-label="Close"] {
    font-size: 1.8rem;
    width: 1.8rem;
    height: 1.8rem;
}

button[aria-label="Close"]::after {
    content: "\00D7";
    position: relative;
    top: -0.3rem;
    left: -0.15rem;
}
